<div class="aboutbanner">
    <section class="sec">
        <div class="col-md-12">

            <h1 style="color: white; text-align: center;" id="para">About Us</h1>


        </div>
    </section>
</div>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../../assets/images/aboutbanner.jpg" alt="img">
        </div>
        <div class="col-md-6">
            <h3>About RENEVERA</h3><br>
            <p>Renevera is a leading provider of solution and software development services to clients across the globe.
                We work with our customers as their strategic partners to help them to solve the business problems and
                grow their business.</p><br>
            <p>At Renevera we streamline our energies to help our client build quality products and solutions with high
                synergy.</p><br>
            <p>Our motto is to be a trusted agile technology partner for our customers. The commitment to leverage IT
                and deliver breakthrough solutions that fuel business growth is built in our genetic code – and it
                continues to inspire our actions. Our mission statement reinforces our vision:<br><i
                    style="font-size: x-large;">"Ensuring Customer
                    Success"</i></p>
        </div>

    </div>
</div>
<br><br>